html {
    font-size: 16px !important;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background: rgb(30, 20, 54);
    color: rgb(233, 240, 247);
    font-size: 0.7rem;
}

.flex-r {
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: row;
    align-items: center;
}

.flex-col {
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: column;
}

.flex-1 {
    flex: 1 1 auto;
}

.flex-c {
    justify-content: center;
}

.flex-b {
    justify-content: space-between;
}

.flex-a {
    justify-content: space-around;
}

.flex-s {
    justify-content: flex-start;
}

.flex-e {
    justify-content: flex-end;
}

.center {
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: center;
    align-items: center;
}

.ripple {
    position: relative;
    overflow: hidden;
}

.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, rgb(179, 179, 179) 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .4s, opacity .5s;
}

.ripple:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}

/** 聊天窗口公共样式 **/
.chat-content-wrap>div.chat-item>div.content-wrap>div.chat-content>img {
    width: 100%;
    border-radius: 4px;
}

/** 其他公共样式 **/
p.tip-block {
    background: #bfd2d3;
    border-left: 4px solid #099494;
    padding: 4px;
    padding-left: 8px;
}

p.tip-round-block {
    background: #ece3f1;
    border-radius: 4px;
    padding: 6px 8px;
}

@keyframes moveflash {
    0% {
        transform: translateX(-68%);
    }
    100% {
        transform: translateX(68%);
    }
}